:root {
    --background-color: #fbfbfb;
    --border-color    : #7591AD;
    --text-color      : #34495e;
    --color1          : #EC3E27;
    --color2          : #fd79a8;
    --color3          : #aaa;
    --color4          : #00b894;
    --color5          : #fdcb6e;
    --color6          : #e056fd;
    --color7          : #F97F51;
    --color8          : #BDC581;
}
* {
    margin : 0;
    padding: 0;
}

html {
    font-size: 14px;
}

body {
    width           : 100vw;
    height          : 250px;
    font-family:'Times New Roman', Times, serif;
    color: #fff;
    background:#1c0d1a ;
    animation: bg-color 15s infinite;
    -webkit-animation: bg-color 15s infinite;
    display         : flex;
    justify-content : center;
}
@-webkit-keyframes bg-color {
    0% { background-color: #1c0d1a; }   
    20% { background-color: #9e0958; }   
    40% { background-color: #f1939c; }   
    60% { background-color: #f07c82; }   
    80% { background-color: #f1939c; }
    100% { background-color: #1c0d1a }   
    }
    
@keyframes bg-color {
    0% { background-color: #1c0d1a; }   
    20% { background-color: #9e0958; }   
    40% { background-color: #f1939c; }   
    60% { background-color: #f07c82; }   
    80% { background-color: #f1939c; }
    100% { background-color: #1c0d1a } 
    }
.container {
    width: 100%;
    height: 200px;
    background-color: #AAAAAA;
}
.menu {
    width: 1200px;
    background-color: #AAAAAA;
    height: 200px;
    margin: auto;
}
.menu ul {
    list-style: none;
}
.menu li {
    position: relative;
    float   : left;
    width   : auto;
    
}
.menu li a {
    display: flex;
    justify-content: center;
    font-display: row;
    background-color: var(--color3);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size  : 24px;
    font-weight: normal;
    line-height: 200px;
    width: 150px;
    text-decoration: none;
    transition: all .3s ease-in-out;
    z-index: -1;
}
.menu li:hover a {
    background-color: #444;
}
.sub {
    position: absolute;
    top : 100px;
    left: 0;
    width : 150px;
    height: 0;
    overflow: hidden;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    z-index: 1;
}
li:hover ul.sub {
    opacity: 1;
    height : auto;
    background-color: #444;
}
.sub li {
    float: none;
    border-bottom: 1px solid #000;
}
.sub li:last-child {
    border-bottom: none;
}
.sub a {
    font-size: 20px !important;
    color           : #eee !important;
    font-weight     : normal !important;
    line-height     : 2 !important;
    height: 100px !important;
    line-height: 100px !important; 
    width           : 160px !important;
    background-color: #333 !important;
}
.sub li:hover a {
    background-color: #444 ;
}
@media (max-width:576px){
    .menu li{
        flex-direction: column;
    }
    .menu{
        width: 100%;
        height: 400px;
    }
    .menu li a{
        width: 576px;
    }
    .sub{
        width: 576px;
    }
    .sub a{
        width: 576px !important;
    }
}

a img{
    height: 180px;
    width: 200px;
    margin-left: 36px;
}
